.marquee {
  overflow: hidden;
  width: 100%;
}

.marqueeTrack {
  display: flex;
  gap: 40px;
  width: max-content;
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-left: 2rem;
}