.nav {
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 1rem;
  left: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 100rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navWrapper {
  position: relative;
  display: flex;
  gap: 1rem;
}

.navItem {
  position: relative;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  color: #000;
  z-index: 2;
}

.navBg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #5996FD;
  border-radius: 999px;
  z-index: 1;
}