.container {
  width: 100%;
  gap: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
}

.banner {
  width: 100%;
  padding-top: 168px;
  padding-bottom: 120px;
  background: linear-gradient(to bottom, #FED6F0, #FFFFFF);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1;
  justify-content: center;
  align-items: center;

}

.banner .title {
  font-size: 64px;
  text-align: center;
}

.banner .span {
  font-size: 96px;
  font-family: "Lux";
}

.banner .desc {
  font-size: 1rem;
  text-align: center;
}

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.productWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 64px;
}

.productWrapper .topSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.topSection .titleContainer {
  display: flex;
  justify-content: space-between;
}

.titleContainer .title {
  font-size: 48px;
}

.titleContainer .search {
  background-color: #F2F5FA;
  padding: 1rem;
  display: flex;
  line-height: 1;
  gap: 1rem;
  height: fit-content;
}