.container {
  width: 100%;
  gap: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red 1px;
}

.banner {
  width: 100%;
  padding-top: 168px;
  padding-bottom: 120px;
  background: linear-gradient(to bottom, #fed6f0, #ffffff);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1;
  justify-content: center;
  align-items: center;
}

.banner .title {
  font-size: 64px;
  text-align: center;
}

.banner .span {
  font-size: 96px;
  font-family: "Lux";
}

.banner .desc {
  font-size: 1rem;
  text-align: center;
}

.productContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.productWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 64px;
}

.productWrapper .topSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.topSection .titleContainer {
  display: flex;
  justify-content: space-between;
}

.titleContainer .title {
  font-size: 48px;
}

.titleContainer .searchContainer {
  background-color: #f2f5fa;
  padding: 1rem;
  display: flex;
  line-height: 1;
  gap: 1rem;
  height: fit-content;
  border: solid #303030 1px;
  border-radius: 100px;
  width: 566px;
}

.productNavContainer {
  display: flex;
  gap: 1rem;
}

.productNav {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: #f2f5fa;
  cursor: pointer;
  transition: all 0.3s ease;
}

.productNav:hover {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  background-color: #5996fd;
  color: white;
}

.productNav.active {
  background-color: #5996fd;
  color: white;
}

.product {
  
}

.product {
  display: grid;
  gap: 1.5rem;
}

.productCard {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #F2F5FA;
  border-radius: 1rem;
}

.productImg {
  border-radius: 0.5rem;
  width: 100%;
}

.productTop {
  display: flex;
  justify-content: space-between;
}

.productTitle {
  font-size: 24px;
}

.productSmall {
  color: #2AAAE1;
  font-size: 12px;
}

.productBottom {
  display: flex;
  gap: 32px;
}

.aboutContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.aboutContainer .title {
  font-size: 48px;
  text-align: center;
}

/* Desktop ≥ 1024px */
@media (min-width: 1024px) {
  .product {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Tablet 768px–1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .product {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile < 768px */
@media (max-width: 767px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
}