.nav {
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 1rem;
  left: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 100rem;
}

.banner {
  width: 100%;
  height: 300px;
  background: linear-gradient(to bottom, #FED6F0, #FFFFFF);
}

.banner .span {
  font-family: "Lux";
}