@font-face {
  font-family: "SFPro";
  src: url("/font/regular.OTF") format("OTF");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFPro";
  src: url("/font/bold.OTF") format("OTF");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lux";
  src: url("/font/lux.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}s

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "SFPro", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #303030;
}

p {
  font-family: "SFPro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

svg {
  display: block;
}
